.Border {
  background-color: white;
  margin-left: 350px;
  margin-right: 50px;
  border-radius: 12px;
  .flex {
    display: flex;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    height: 100%;
  }
}
