.Login {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .grid {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    .logoc {
      width: 50%;
      height: 100vh;
      object-fit: cover;
    }
    .rounded {
      width: 50%;
      height: 500px;
      border-radius: 15px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: black;
      .title {
        font-size: 26px;
        font-family: sans-serif;
        font-weight: bold;
        width: 100%;
        text-align: center;
        padding: 20px 0;
      }
    }
  }
}
